﻿@charset "UTF-8";
/* Top Level Defaults */
body, html {
	margin: 0;
	padding: 0;
	font-family: sans-serif, monospaced;
	background: #222;
}
div {
	margin: 0px 0px 0px 0px; /* top right bottom left*/
	padding: 0px 0px 0px 0px;
	display: block;
}
/* page holder */
#page_holder {
	margin: 20px auto 20px auto;
	padding: 8px;
	width: 80%;
	background: #fff;
}
/* Main Header */
#main_header {
	margin: 0px 0px 0px 0px;
	padding: 16px 0px 16px 0px;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
#main_header h1 {
	margin: 0px 0px 0px 0px;
	padding: 4px 8px 0px 8px;
	font-size: xx-large;
	text-align:  center;
}
#contactinformation {
	font-size: small;
}
#main_header p {
	margin: 0px 0px 0px 0px;
	padding: 0px 8px 4px 8px;
	font-size: large;
}
/* Main Navigation */
#main_navigation {
	margin: 0px 0px 0px 0px;
	padding: 8px 8px 8px 8px;
	font-size: small;
	background: #f2f5f6;
}
#main_navigation ul {
	list-style-type:none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	clear: both;
}
#main_navigation li a:link, #main_navigation li a:visited  {
	text-decoration: none;
	display: inline-block;
	color: #000;
}
#main_navigation li a:hover {
	
}
#main_navigation li a:active {
	text-decoration: none;
	display: inline-block;
}
#main_navigation li a.current {
	text-decoration: none;
	display: inline-block;
	color: #0000ff;
}
#main_navigation.horizontal_navigation {
	background: #e2e2e2;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}
#main_navigation.vertical_navigation {
	margin: 0px 16px 0px 0px;
	float: left;
	width: 192px;
}
/* Generic Navigation Styles */
.horizontal_navigation  {
	clear: both;
}
.horizontal_navigation ul {
	list-style-type:none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.horizontal_navigation li{
	display: inline-block;
	padding-right: 12px;
}
.vertical_navigation li{
	display: block;
	padding-bottom: 12px;
}
/* */
#main_content {
	font-size: small;
	margin: 0px 0px 0px 0px;
	padding: 8px 8px 8px 8px;
	background: #efefef;
}
#main_footer {
	margin: 0px 0px 0px 0px;
	padding: 8px 8px 8px 8px;
	font-size: xx-small;
	clear: both;
	background: #e2e2e2;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
}
/*Tables*/
td {
	vertical-align: text-top;
}
/* Page Links*/
a:link, a:active, a:visited {
	color:blue;
}
a:hover {
	color: green;
}
